<!--<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Innova Transit</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-sm="6">
          <ion-item>
            <ion-label>Empresa</ion-label>
            <ion-select [(ngModel)]="empresaId" placeholder="Selecione uma empresa" labelPlacement="floating" (ngModelChange)="selecionarEmpresa()">
              
              <ion-select-option *ngFor="let empresa of listaDeEmpresa" [value]="empresa.id">
                {{ empresa.nome }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      
        <ion-col size="6" size-sm="3">
          <ion-item>
            <ion-input label="CNPJ" labelPlacement="floating" [value]="formatarCNPJ(empresaSelecionada?.cnpj ?? '')" readonly></ion-input>
          </ion-item>
        </ion-col>
      
        <ion-col size="6" size-sm="3">
          <ion-item>
            <ion-input label="URL de busca (Folha-Serviço)" labelPlacement="floating" [value]="empresaSelecionada?.urlBusca"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="3">
          <ion-list>
            <ion-radio-group [(ngModel)]="frequencia">
              <ion-item>
                  <ion-label>Busca Manual</ion-label>
                  <ion-radio slot="start" value="once"></ion-radio>
              </ion-item>
              <ion-item>
                  <ion-label>Diariamente</ion-label>
                  <ion-radio slot="start" value="daily"></ion-radio>
              </ion-item>
              <ion-item>
                  <ion-label>Semanalmente</ion-label>
                  <ion-radio slot="start" value="weekly"></ion-radio>
              </ion-item>
              <ion-item>
                  <ion-label>Mensalmente</ion-label>
                  <ion-radio slot="start" value="monthly"></ion-radio>
              </ion-item>
          </ion-radio-group>          
          </ion-list>
        </ion-col>

        <ion-col size="3">
          <ion-row *ngIf="frequencia === 'once'">
            <ion-col size="12">
              <ion-button style="margin-top: 80px; margin-left: 80px;" color="primary" (click)="enviarConfiguracao()">Buscar Agora</ion-button>
            </ion-col>
          </ion-row>          

          <ion-row *ngIf="frequencia === 'daily'">
            <ion-col size="12">
              <ion-item>
                <ion-label>Hora diária</ion-label>
                <ion-datetime displayFormat="HH:mm" [(ngModel)]="horaDiaria" presentation="time"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="frequencia === 'weekly'">
            <ion-col size="12">
              <ion-item>
                <ion-label>Dia da Semana</ion-label>
                <ion-select [(ngModel)]="diaSemana" placeholder="Selecione o dia">
                  <ion-select-option value="monday">Segunda-feira</ion-select-option>
                  <ion-select-option value="tuesday">Terça-feira</ion-select-option>
                  <ion-select-option value="wednesday">Quarta-feira</ion-select-option>
                  <ion-select-option value="thursday">Quinta-feira</ion-select-option>
                  <ion-select-option value="friday">Sexta-feira</ion-select-option>
                  <ion-select-option value="saturday">Sábado</ion-select-option>
                  <ion-select-option value="sunday">Domingo</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-input label="Horário para busca de folha de serviço" type="time" labelPlacement="floating"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="frequencia === 'monthly'">
            <ion-col style="margin-top: 10px;" size="12">
              <ion-label style="margin-left: 15px;">Dia do Mês</ion-label>
              <ion-item>
                <ion-input type="number" min="1" max="31" [(ngModel)]="diaMes" placeholder="Escolha o dia"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item>
                <ion-input label="Horário para busca de folha de serviço" type="time" labelPlacement="floating"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      
      <ion-row>
        <ion-col size="12" style="text-align: center; margin-top: 20px;">
          <ion-button color="primary" (click)="enviarConfiguracao()">Salvar</ion-button>
          <ion-button color="primary">Cancelar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-toast
    [isOpen]="showToast"
    position="top"
    [message]="toastMessage"
    duration="3000"
    (didDismiss)="showToast = false">
  </ion-toast>
</div>-->

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Innova Transit</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row>
        <!-- Seleção de Empresa -->
        <ion-col size="6" size-sm="5">
          <ion-item>
            <ion-label>Selecione uma Empresa</ion-label>
            <ion-select [(ngModel)]="idEmpresa" placeholder="Selecione uma empresa" labelPlacement="floating" (ngModelChange)="selecionarEmpresa()">
              <ion-select-option *ngFor="let empresa of listaDeEmpresa" [value]="empresa.id">
                {{ empresa.nome }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="6" size-sm="3">
          <ion-item>
            <ion-input label="CNPJ" labelPlacement="floating" [value]="formatarCNPJ(empresaSelecionada?.cnpj ?? '')" readonly></ion-input>
          </ion-item>
        </ion-col>
      
        <ion-col size="6" size-sm="3">
          <ion-item>
            <ion-input label="URL de busca (Folha-Serviço)" labelPlacement="floating" [value]="empresaSelecionada?.urlBusca"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <form (ngSubmit)="configurarAutomacao()">
        <ion-row>
          <!-- Tipo de Automação -->
          <ion-col size="6" size-sm="2">
            <ion-item>
              <ion-label position="floating">Tipo de Automação</ion-label>
              <ion-select [(ngModel)]="tipoAutomacao" name="tipoAutomacao" required>
                <ion-select-option value="diario">Diário</ion-select-option>
                <ion-select-option value="semanal">Semanal</ion-select-option>
                <ion-select-option value="mensal">Mensal</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <!-- Hora -->
          <ion-col size="6" size-sm="1">
            <ion-item>
              <ion-label position="floating">Hora</ion-label>
              <ion-input [(ngModel)]="hora" name="hora" type="number" required></ion-input>
            </ion-item>
          </ion-col>

          <!-- Minuto -->
          <ion-col size="6" size-sm="1">
            <ion-item>
              <ion-label position="floating">Minuto</ion-label>
              <ion-input [(ngModel)]="minuto" name="minuto" type="number" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Campo Dia da Semana (visível apenas para automação semanal) -->
        <ion-row *ngIf="tipoAutomacao === 'semanal'">
          <ion-col size="6" size-sm="4">
            <ion-item>
              <ion-label>Dia da Semana</ion-label>
              <ion-select [(ngModel)]="diaSemana" name="diaSemana" placeholder="Selecione o dia">
                <ion-select-option value="1">Segunda-feira</ion-select-option>
                <ion-select-option value="2">Terça-feira</ion-select-option>
                <ion-select-option value="3">Quarta-feira</ion-select-option>
                <ion-select-option value="4">Quinta-feira</ion-select-option>
                <ion-select-option value="5">Sexta-feira</ion-select-option>
                <ion-select-option value="6">Sábado</ion-select-option>
                <ion-select-option value="7">Domingo</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Campo Dia do Mês (visível apenas para automação mensal) -->
        <ion-row *ngIf="tipoAutomacao === 'mensal'">
          <ion-col size="6" size-sm="1">
            <ion-item>
              <ion-label position="floating">Dia do Mês</ion-label>
              <ion-input [(ngModel)]="diaMes" name="diaMes" type="number"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" style="text-align: center; margin-top: 20px;">
            <ion-button type="submit">Salvar</ion-button>
            <ion-button color="primary" (click)="atualizarDados(idEmpresa)">Buscar Agora</ion-button>
          </ion-col>
        </ion-row>

      </form>
    </ion-grid>
  </ion-content>
  <ion-toast
      [isOpen]="showToast"
      position="top"
      [message]="toastMessage"
      duration="3000"
      (didDismiss)="showToast = false">
    </ion-toast>
</div>